{{! main body post loop }}
<section id="main-body">
<div class="container">
    <div id="aptoide-title-container">
        <span class="aptoide-blog-title">Aptoide official</span>
        <span class="aptoide-blog-title" id="blog-title"> Blog</span>
    </div>
	<div class="row">
		<div class="col-xs-12 col-md-8">
			{{#foreach posts limit=@site.posts_per_page}}
                <article class="post-container">
                    <h1 class="post-card-title">Top Games at Aptoide in May</h1>
                    <div class="container-row" id="published-row">
                        <span class="published-by">Published by </span>
                        <span class="published-by" id="who-published">The Aptoide Team</span>
                        <span id="publish-date">Jun 09, 2022</span>
                    </div>
                    {{#if "tags"}}
                    <div class="container-row">
                        {{#each categories}}
                            <div class="categories-tag">
                                {{this}}
                            </div>
                        {{/each}}
                    </div>
                    {{/if}}
                    <div class="post-image">
                        {{#if feature_image}}
                            <a href="{{url}}" alt="{{{title}}}" title="{{{title}}}"><img src="{{img_url feature_image}}" /></a>
                        {{else}}
                            <a href="{{url}}" alt="{{{title}}}" title="{{{title}}}"><img src="{{asset "images/no-image.jpg"}}" /></a>
                        {{/if}}                    
                    </div>
                    <div class="description-resume">
                        <span>
                            "If you’re looking to try out new and exciting games we've got you covered! Each week our editorial team tests out the most downloaded games at Aptoide and looks for those special ones to be featured in our ad asd asd a sd asd a wd q wd wsad  asd  wdq wd sa d a d a sd ad sa d as d as da",
                        </span>
                    </div>
                    <div class="container-row" id="read-more">
                        <a href="{{url}}" class="read-more-anchor">Read More</a>
                    </div>
                </article>
            {{/foreach}}
            {{pagination}}
		</div>  
        {{> sidebar}}
</div>
</section>