{{!< default}}
<section id="main-body">
<div class="container">

	<div class="row">
		<div class="col-xs-12 col-md-8">
            <div class="posts-card">
			
                        <div class="row">
                                <article class="col-md-12 post-one">
                                    {{#post}}
                                    <div class="postone-title">
                                        <h1><a href="{{url}}" alt="{{{title}}}" title="{{{title}}}">{{{title}}}</a></h1>
                                    </div> 
                                    <br>

                                    <div class="post-image col-xs-12 col-md-12">

                                        <div class="post-content-excerpt">
                                          
                                        </div>

                                    </div>                                   
                                    {{/post}}    
                                </article>
                            </div>

            </div>
			
		</div>
        <div class="col-xs-12 col-md-4">    
                        <div class="social-media-responsive cp-sidebar">
                            <section class="widget">
                                <span><h5>Social Media</h5></span>  <br><br><br>
                                <a href="https://www.facebook.com/aptoide" target="_blank" title="Facebook"><img src="{{asset "images/facebook.png"}}" alt="Facebook"></a>
                                <a href="https://www.youtube.com/user/aptoide" target="_blank" title="Youtube"><img src="{{asset "images/youtube.png"}}" alt="Youtube"></a>
                                <a href="https://twitter.com/aptoide" target="_blank" title="Twitter"><img src="{{asset "images/twitter.png"}}" alt="Twitter"></a>
                                <a href="https://www.instagram.com/aptoideteam" target="_blank" title="Instagram"><img src="{{asset "images/instagram.png"}}" alt="Instagram"></a>
                                <a href="https://www.snapchat.com/add/aptoideteam" target="_blank" title="Snapchat"><img src="{{asset "images/snapchat.png"}}" alt="Snapchat"></a>
                                <a href="https://plus.google.com/+AptoideOfficial" target="_blank" title="Google Plus"><img src="{{asset "images/google.png"}}" alt="Google Plus"></a>
                            </section>
                        </div>
                    </div>
		{{> sidebar}}

    </div>
</div>
</section>