{{!< default}}
<section id="main-body">
<div class="container">
    <div id="aptoide-small-title-container">
		<span class="aptoide-blog-title" id="aptoide-small-title">Aptoide official</span>
		<span class="aptoide-blog-title" id="aptoide-small-blog"> Blog</span>
	</div>
	<div class="row">
		<div class="col-xs-12 col-md-8">
			<article class="post-article">
				{{#post}}
					<header class="post-header">
						<h2 "post-card-title">{{{title}}}</h2>
						<div class="container-row" id="published-row">
							<span class="published-by">Published by </span>
							<span class="published-by" id="who-published">The Aptoide Team</span>
							<span id="publish-date">Jun 09, 2022</span>
						</div>
						<img class="featured-image" src="https://blog.aptoide.com/content/images/2016/10/app-store-business-model-revenue.jpg" alt="{{{title}}}" title="{{{title}}}" />
					</header>	
					<section class="post-content">     
						  If you’re looking to try out new and exciting games we've got you covered! Each week our editorial team tests out the most downloaded games at Aptoide and looks for those special ones to be featured in our Game of the Week. Here are last month's top downloaded games and just a few reasons why they should be on your "must-try" list of Android apps
					</section>
					<div class="post-footer">
						{{#if "tags"}}
							<div class="container-row">
								{{#each tags}}
									<div class="categories-tag">
										{{this}}
									</div>
								{{/each}}
							</div>
						{{/if}}
						<div id="post-categories" class="container-row">
							<div class="categories-tag">
								Android
							</div>
							<div class="categories-tag">
								Android
							</div>
							<div class="categories-tag">
								Android
							</div>
						</div>
						<nav class="posts-pagination">
							<a href="{{url}}" title="Back"><img src="{{asset "images/left-arrow.svg"}}" alt="Back"></a>
							<a href="{{url}}" title="Next"><img src="{{asset "images/right-arrow.svg"}}" alt="Next"></a>				
						</nav>
								
						
						{{> comments}}
						
					</div>
				{{/post}}
			</article>
	</div>
         {{> sidebar}}
    </div>
    
</div>
   
</section>